<div class="section_caleb wf-section">
        <div id="caleb" class="padding-global">
          <div class="padding-section-large">
            <div class="container-large">
              <div class="lynx-content">
                <div class="lynx-block-center">
                  <div class="lynx-subtitle">{{ texts.-440d4ba7 }}</div>
                  <h2 class="lynx-heading">{{ texts.6d1cf521 }}</h2>
                </div>
                <div class="w-layout-grid lynx-grid-process">
                  <div id="w-node-c3b17216-08c6-a185-9f8d-7bb1287d101a-287d100f" class="lynx-process">
                    <div class="lynx-block-process-pink">
                      <div class="lynx-process-number">{{ texts.31 }}</div>
                    </div>
                    <h5 class="lynx-heading-process">{{ texts.7038a590 }}</h5>
                    <div class="process_rte w-richtext">
                      <h5>{{ texts.27389cfa }}</h5>
                      <p>{{ texts.61df54ed }}<strong>{{ texts.2dcaf1a9 }}</strong>{{ texts.632 }}</p>
                      <p>{{ texts.cf83186 }}<strong>{{ texts.-158c7584 }}</strong><strong>{{ texts.30b21988 }}</strong>{{ texts.-449e0dc4 }}</p>
                      <p>{{ texts.-47e05e05 }}<strong>{{ texts.693c2aff }}</strong>{{ texts.2ffa9d35 }}</p>
                    </div>
                  </div>
                  <div id="w-node-c3b17216-08c6-a185-9f8d-7bb1287d1034-287d100f" class="lynx-process">
                    <div class="lynx-block-process-purple">
                      <div class="lynx-process-number">{{ texts.32 }}</div>
                    </div>
                    <h5 class="lynx-heading-process">{{ texts.6e6a0793 }}</h5>
                    <div class="process_rte w-richtext">
                      <h5>{{ texts.47edb5ca }}</h5>
                      <p><strong>{{ texts.200d }}</strong>{{ texts.5941d976 }}<strong>{{ texts.39c3894b }}</strong>{{ texts.-2f072656 }}</p>
                      <p>{{ texts.-35723d5d }}<strong>{{ texts.-349e1d7e }}</strong>{{ texts.4316d569 }}</p>
                      <p>{{ texts.-6e280e2c }}<strong>{{ texts.-186a24db }}</strong>{{ texts.-714fed8a }}</p>
                      <p>{{ texts.-1a3095ca }}<strong>{{ texts.-75a6de07 }}</strong>{{ texts.4b33b3a7 }}</p>
                      <h5>{{ texts.-59dd1eba }}</h5>
                      <p><strong>{{ texts.200d }}</strong>{{ texts.-5288e32d }}<strong>{{ texts.-64f8862f }}</strong>{{ texts.-57734ed5 }}</p>
                    </div>
                  </div>
                  <div id="w-node-c3b17216-08c6-a185-9f8d-7bb1287d105c-287d100f" class="lynx-process">
                    <div class="lynx-block-process-green">
                      <div class="lynx-process-number">{{ texts.33 }}</div>
                    </div>
                    <h5 class="lynx-heading-process">{{ texts.-5b5c2c2a }}</h5>
                    <div class="process_rte w-richtext">
                      <h5>{{ texts.1fcfa34e }}</h5>
                      <p>{{ texts.-4088ac5c }}</p>
                      <p>{{ texts.74df34e3 }}</p>
                      <p>{{ texts.-12a8ba44 }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>