<div class="lynx-navbar-group">
      <div data-animation="default" class="navbar1_component w-nav" data-easing2="ease" fs-scrolldisable-element="smart-nav" data-easing="ease" data-collapse="medium" data-w-id="a7434a58-111e-5a4f-abe4-66220a11e405" role="banner" data-duration="400">
        <div class="navbar1_container">
          <a href="{{ links.2f }}" aria-current="page" class="navbar1_logo-link w-nav-brand w--current"><img src="{{ images.701fbce5.url }}" loading="eager" width="120" height="Auto" alt="{{ images.701fbce5.alt | trim | escape }}" class="navbar1_logo"></a>
          <nav role="navigation" class="navbar1_menu is-page-height-tablet w-nav-menu">
            <a href="{{ links.-2861fe5b }}" class="lynx-nav-link w-nav-link">{{ texts.-14e1c919 }}</a>
            <div data-hover="true" data-delay="200" data-w-id="895f7537-2908-f799-c282-ac7b12c2efc3" class="navbar1_menu-dropdown w-dropdown">
              <div class="dropdown-toggle w-dropdown-toggle">
                <div class="dropdown-icon w-embed"><svg width=" 100%" height=" 100%" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M2.55806 6.29544C2.46043 6.19781 2.46043 6.03952 2.55806 5.94189L3.44195 5.058C3.53958 4.96037 3.69787 4.96037 3.7955 5.058L8.00001 9.26251L12.2045 5.058C12.3021 4.96037 12.4604 4.96037 12.5581 5.058L13.4419 5.94189C13.5396 6.03952 13.5396 6.19781 13.4419 6.29544L8.17678 11.5606C8.07915 11.6582 7.92086 11.6582 7.82323 11.5606L2.55806 6.29544Z" fill="currentColor"></path>
                  </svg></div>
                <div class="text-block">{{ texts.-60e705e3 }}</div>
              </div>
              <nav class="navbar1_dropdown-list w-dropdown-list">
                <a href="{{ links.-31c9e27c }}" class="navbar1_dropdown-link w-dropdown-link">{{ texts.-1b344680 }}</a>
                <a href="{{ links.-11447def }}" class="navbar1_dropdown-link w-dropdown-link">{{ texts.-1a4d087e }}</a>
                <a href="{{ links.2c022933 }}" class="navbar1_dropdown-link w-dropdown-link">{{ texts.25ce74a2 }}</a>
                <a href="{{ links.-54138a5 }}" class="navbar1_dropdown-link w-dropdown-link">{{ texts.-b74ed36 }}</a>
                <a href="{{ links.316bcfb5 }}" class="navbar1_dropdown-link w-dropdown-link">{{ texts.-c12281d }}</a>
                <a href="{{ links.2c628cc }}" class="navbar1_dropdown-link w-dropdown-link">{{ texts.20d03d }}</a>
              </nav>
            </div>
            <a href="{{ links.3cf9f039 }}" class="lynx-nav-link w-nav-link">{{ texts.-667f9cc9 }}</a>
            <a href="{{ links.2c48051 }}" class="lynx-nav-link w-nav-link">{{ texts.1fa3c2 }}</a>
            <a href="{{ links.4b0e6111 }}" class="lynx-nav-link w-nav-link">{{ texts.-64104400 }}</a>
            <div class="navbar1_menu-buttons">
              <a href="{{ links.-702349 }}" class="lynx-nav-button-outline w-button">{{ texts.507137a6 }}</a>
              <a href="{{ links.-405a2cd4 }}" class="lynx-nav-button-orange w-button">{{ texts.-364d0a89 }}</a>
            </div>
          </nav>
          <div class="lynx-nav-buttons is--mobile-only">
            <a href="{{ links.23 }}" class="lynx-nav-button-outline is--hidden w-button">{{ texts.507137a6 }}</a>
            <a href="{{ links.23 }}" class="lynx-nav-button-orange w-button">{{ texts.-364d0a89 }}</a>
          </div>
          <div class="navbar1_menu-button w-nav-button">
            <div class="menu-icon1">
              <div class="menu-icon1_line-top"></div>
              <div class="menu-icon1_line-middle">
                <div class="menu-icon_line-middle-inner"></div>
              </div>
              <div class="menu-icon1_line-bottom"></div>
            </div>
          </div>
        </div>
      </div>
    </div>