<div class="section_page-header wf-section">
        <div class="padding-global">
          <div class="padding-section-large">
            <div class="container-large"></div>
            <div class="lynx-content-hero">
              <div class="lynx-block-center-hero">
                <div class="lynx-subtitle">{{ texts.35599e }}</div>
                <h1 class="lynx-heading-hero">{{ texts.-667f9cc9 }}</h1>
                <a href="{{ links.23 }}" class="lynx-button w-button">{{ texts.318af39f }}</a>
              </div>
              <div class="lynx-hero-oval"><img src="{{ images.-336da31d.url }}" loading="lazy" alt="{{ images.-336da31d.alt | trim | escape }}" sizes="90vw" class="hero-oval-image"></div>
            </div>
          </div>
        </div>
      </div>