<div id="what-is-life-coaching-for-kids" class="section_page-header-2 wf-section">
        <div class="padding-global">
          <div class="padding-section-large">
            <div class="container-large">
              <div class="lynx-hero"><img src="{{ images.-6cda4988.url }}" loading="lazy" alt="{{ images.-6cda4988.alt | trim | escape }}" sizes="90vw" class="page-header-2-image">
                <div class="lynx-block-hero">
                  <div class="lynx-subtitle-white">{{ texts.-5d1b2da3 }}</div>
                  <h1 class="lynx-heading-white-small">{{ texts.-475b7d60 }}</h1>
                  <p class="lynx-paragraph-white">{{ texts.275f3c49 }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>