<div class="section_pricing wf-section">
        <div class="padding-global">
          <div class="padding-section-large">
            <div class="container-large">
              <div class="lynx-content">
                <div class="lynx-block-center">
                  <div class="lynx-subtitle">{{ texts.-108b8caa }}</div>
                  <h2 class="lynx-heading">{{ texts.-7b6c7064 }}</h2>
                  <p class="lynx-paragraph">{{ texts.b50fdc6 }}</p>
                </div>
                <div class="w-layout-grid lynx-grid-plans">
                  <div id="w-node-de3b204e-6e5a-794e-6313-d76def202e38-ef202e2b" class="lynx-plans">
                    <div class="lynx-block-plans">
                      <div class="lynx-block-plans-pink">{%- image images.-3890dcc1.url, images.-3890dcc1.alt, '[]', 'loading="lazy" class="lynx-icon-plans"' -%}</div>
                      <div class="lynx-text-plans-pink">{{ texts.369c10d0 }}</div>
                    </div>
                    <div class="lynx-price-pink"><strong class="bold-text-2">{{ texts.113955 }}</strong></div>
                    <p class="lynx-paragraph-plans">{{ texts.7142cb72 }}</p>
                    <div class="lynx-check-plans">
                      <div class="lynx-check">{%- image images.1e28ed35.url, images.1e28ed35.alt, '[]', 'loading="lazy" class="lynx-icon-check"' -%}
                        <div class="lynx-text-check">{{ texts.-6c1a0346 }}</div>
                      </div>
                      <div class="lynx-check">{%- image images.1e28ed35.url, images.1e28ed35.alt, '[]', 'loading="lazy" class="lynx-icon-check"' -%}
                        <div class="lynx-text-check">{{ texts.15db80fa }}</div>
                      </div>
                      <div class="lynx-check">{%- image images.1e28ed35.url, images.1e28ed35.alt, '[]', 'loading="lazy" class="lynx-icon-check"' -%}
                        <div class="lynx-text-check">{{ texts.-2c3b1d43 }}</div>
                      </div>
                      <div class="lynx-check">{%- image images.1e28ed35.url, images.1e28ed35.alt, '[]', 'loading="lazy" class="lynx-icon-check"' -%}
                        <div class="lynx-text-check">{{ texts.2f37ea90 }}</div>
                      </div>
                      <div class="lynx-check">{%- image images.1e28ed35.url, images.1e28ed35.alt, '[]', 'loading="lazy" class="lynx-icon-check"' -%}
                        <div class="lynx-text-check">{{ texts.20be25ae }}</div>
                      </div>
                      <div class="lynx-check">{%- image images.1e28ed35.url, images.1e28ed35.alt, '[]', 'loading="lazy" class="lynx-icon-check"' -%}
                        <div class="lynx-text-check">{{ texts.5843af86 }}</div>
                      </div>
                      <div class="lynx-check">{%- image images.1e28ed35.url, images.1e28ed35.alt, '[]', 'loading="lazy" class="lynx-icon-check"' -%}
                        <div class="lynx-text-check">{{ texts.b00ec96 }}</div>
                      </div>
                      <div class="lynx-check">{%- image images.1e28ed35.url, images.1e28ed35.alt, '[]', 'loading="lazy" class="lynx-icon-check"' -%}
                        <div class="lynx-text-check">{{ texts.35080774 }}</div>
                      </div>
                      <div class="lynx-check">{%- image images.1e28ed35.url, images.1e28ed35.alt, '[]', 'loading="lazy" class="lynx-icon-check"' -%}
                        <div class="lynx-text-check">{{ texts.427415b }}</div>
                      </div>
                    </div>
                    <a href="{{ links.23 }}" class="lynx-button w-button">{{ texts.-364d0a89 }}</a>
                  </div>
                  <div id="w-node-de3b204e-6e5a-794e-6313-d76def202e6a-ef202e2b" class="lynx-plans-purple">
                    <div class="lynx-block-plans">
                      <div class="lynx-block-plans-white">{%- image images.-40c091fa.url, images.-40c091fa.alt, '[]', 'loading="lazy" class="lynx-icon-plans"' -%}</div>
                      <div class="lynx-text-plans-white">{{ texts.10960e2f }}</div>
                    </div>
                    <div class="lynx-price-white">{{ texts.2126547 }}</div>
                    <p class="lynx-paragraph-plans-white">{{ texts.1d350d3 }}</p>
                    <div class="lynx-check-plans">
                      <div class="lynx-check">{%- image images.-23762bef.url, images.-23762bef.alt, '[]', 'loading="lazy" class="lynx-icon-check"' -%}
                        <div class="lynx-text-check-white">{{ texts.598f2c6 }}</div>
                      </div>
                      <div class="lynx-check">{%- image images.-23762bef.url, images.-23762bef.alt, '[]', 'loading="lazy" class="lynx-icon-check"' -%}
                        <div class="lynx-text-check-white">{{ texts.15db80fa }}</div>
                      </div>
                      <div class="lynx-check">{%- image images.-23762bef.url, images.-23762bef.alt, '[]', 'loading="lazy" class="lynx-icon-check"' -%}
                        <div class="lynx-text-check-white">{{ texts.-2c3b1d43 }}</div>
                      </div>
                      <div class="lynx-check">{%- image images.-23762bef.url, images.-23762bef.alt, '[]', 'loading="lazy" class="lynx-icon-check"' -%}
                        <div class="lynx-text-check-white">{{ texts.2f37ea90 }}</div>
                      </div>
                      <div class="lynx-check">{%- image images.-23762bef.url, images.-23762bef.alt, '[]', 'loading="lazy" class="lynx-icon-check"' -%}
                        <div class="lynx-text-check-white">{{ texts.20be25ae }}</div>
                      </div>
                      <div class="lynx-check">{%- image images.-23762bef.url, images.-23762bef.alt, '[]', 'loading="lazy" class="lynx-icon-check"' -%}
                        <div class="lynx-text-check-white">{{ texts.b00ec96 }}</div>
                      </div>
                      <div class="lynx-check">{%- image images.-23762bef.url, images.-23762bef.alt, '[]', 'loading="lazy" class="lynx-icon-check"' -%}
                        <div class="lynx-text-check-white">{{ texts.35080774 }}</div>
                      </div>
                      <div class="lynx-check">{%- image images.-23762bef.url, images.-23762bef.alt, '[]', 'loading="lazy" class="lynx-icon-check"' -%}
                        <div class="lynx-text-check-white">{{ texts.-4bc8a7b6 }}</div>
                      </div>
                      <div class="lynx-check">{%- image images.-23762bef.url, images.-23762bef.alt, '[]', 'loading="lazy" class="lynx-icon-check"' -%}
                        <div class="lynx-text-check-white">{{ texts.5346ff95 }}</div>
                      </div>
                    </div>
                    <a href="{{ links.23 }}" class="lynx-button-white w-button">{{ texts.-364d0a89 }}</a>
                  </div>
                  <div id="w-node-de3b204e-6e5a-794e-6313-d76def202e9b-ef202e2b" class="lynx-plans">
                    <div class="lynx-block-plans">
                      <div class="lynx-block-plans-green">{%- image images.-3874adbf.url, images.-3874adbf.alt, '[]', 'loading="lazy" class="lynx-icon-plans"' -%}</div>
                      <div class="lynx-text-plans-green"><strong>{{ texts.-5c21adbd }}</strong></div>
                    </div>
                    <div class="lynx-price-green">{{ texts.24 }}<strong class="bold-text">{{ texts.6683eca5 }}</strong></div>
                    <p class="lynx-paragraph-plans"><strong>{{ texts.-6069f024 }}</strong>{{ texts.2d5576ac }}<br><br>{{ texts.-5e000954 }}</p>
                    <div class="lynx-check-plans">
                      <div class="lynx-check">{%- image images.1e28ed35.url, images.1e28ed35.alt, '[]', 'loading="lazy" class="lynx-icon-check"' -%}
                        <div class="lynx-text-check">{{ texts.-202b746c }}</div>
                      </div>
                      <div class="lynx-check">{%- image images.1e28ed35.url, images.1e28ed35.alt, '[]', 'loading="lazy" class="lynx-icon-check"' -%}
                        <div class="lynx-text-check">{{ texts.20be25ae }}</div>
                      </div>
                      <div class="lynx-check">{%- image images.1e28ed35.url, images.1e28ed35.alt, '[]', 'loading="lazy" class="lynx-icon-check"' -%}
                        <div class="lynx-text-check">{{ texts.69999bbb }}</div>
                      </div>
                      <div class="lynx-check">{%- image images.1e28ed35.url, images.1e28ed35.alt, '[]', 'loading="lazy" class="lynx-icon-check"' -%}
                        <div class="lynx-text-check">{{ texts.-4370d523 }}</div>
                      </div>
                      <div class="lynx-check">{%- image images.1e28ed35.url, images.1e28ed35.alt, '[]', 'loading="lazy" class="lynx-icon-check"' -%}
                        <div class="lynx-text-check">{{ texts.5858eb05 }}</div>
                      </div>
                      <div class="lynx-check">{%- image images.1e28ed35.url, images.1e28ed35.alt, '[]', 'loading="lazy" class="lynx-icon-check"' -%}
                        <div class="lynx-text-check">{{ texts.-3312d0b9 }}</div>
                      </div>
                      <div class="lynx-check">{%- image images.1e28ed35.url, images.1e28ed35.alt, '[]', 'loading="lazy" class="lynx-icon-check"' -%}
                        <div class="lynx-text-check">{{ texts.3b80215 }}</div>
                      </div>
                    </div>
                    <a href="{{ links.23 }}" class="lynx-button w-button">{{ texts.-364d0a89 }}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>