<div class="section_success wf-section">
        <div class="padding-global">
          <div class="padding-section-large">
            <div class="container-large">
              <div class="lynx-content">
                <div class="lynx-block-center">
                  <div class="lynx-subtitle">{{ texts.-5b5c2c2a }}</div>
                  <h2 class="lynx-heading">{{ texts.5441cc1 }}</h2>
                  <p class="lynx-paragraph">{{ texts.2d7efce0 }}<strong>{{ texts.20e1e8ca }}</strong>{{ texts.6fc85cd6 }}<br>{{ texts.200d }}<strong>{{ texts.-46974b5 }}</strong></p>
                </div>
              </div>
              <div class="lynx-content">
                <div class="w-layout-grid lynx-grid-features">
                  <div id="w-node-_85b700b7-f363-21ac-2c3e-d867e16e324c-e16e3237" class="lynx-features-bg">
                    <div class="lynx-block-features-pink"><img src="{{ images.-3890dcc1.url }}" loading="lazy" data-sizes="[]" alt="{{ images.-3890dcc1.alt | trim | escape }}" class="lynx-icon-features-small"></div>
                    <h6 class="lynx-heading-features-small">{{ texts.6306bc30 }}</h6>
                    <p class="lynx-paragraph-features">{{ texts.45e2cf15 }}<strong>{{ texts.53d355d9 }}</strong>{{ texts.4d05fbc0 }}<strong>{{ texts.316d6054 }}</strong>{{ texts.2b9a05c6 }}</p>
                  </div>
                  <div id="w-node-_85b700b7-f363-21ac-2c3e-d867e16e3259-e16e3237" class="lynx-features-bg">
                    <div class="lynx-block-features-purple"><img src="{{ images.-3882c540.url }}" loading="lazy" data-sizes="[]" alt="{{ images.-3882c540.alt | trim | escape }}" class="lynx-icon-features-small"></div>
                    <h6 class="lynx-heading-features-small">{{ texts.-6233cc65 }}</h6>
                    <p class="lynx-paragraph-features">{{ texts.2ae02d46 }}<strong>{{ texts.-13c5f3d1 }}</strong>{{ texts.6558cfe1 }}</p>
                  </div>
                  <div id="w-node-_85b700b7-f363-21ac-2c3e-d867e16e3263-e16e3237" class="lynx-features-bg">
                    <div class="lynx-block-features-green"><img src="{{ images.-3874adbf.url }}" loading="lazy" data-sizes="[]" alt="{{ images.-3874adbf.alt | trim | escape }}" class="lynx-icon-features-small"></div>
                    <h6 class="lynx-heading-features-small">{{ texts.2c78dff6 }}</h6>
                    <p class="lynx-paragraph-features">{{ texts.6bc9e888 }}<strong>{{ texts.4a4486e3 }}</strong>{{ texts.6ef39aa0 }}</p>
                  </div>
                  <div id="w-node-_85b700b7-f363-21ac-2c3e-d867e16e326d-e16e3237" class="lynx-features-bg">
                    <div class="lynx-block-features-green"><img src="{{ images.-3874adbf.url }}" loading="lazy" data-sizes="[]" alt="{{ images.-3874adbf.alt | trim | escape }}" class="lynx-icon-features-small"></div>
                    <h6 class="lynx-heading-features-small">{{ texts.-e77403d }}</h6>
                    <p class="lynx-paragraph-features">{{ texts.19d3fa0c }}<strong>{{ texts.10199486 }}</strong>{{ texts.2179f7b4 }}</p>
                  </div>
                  <div id="w-node-_85b700b7-f363-21ac-2c3e-d867e16e3277-e16e3237" class="lynx-features-bg">
                    <div class="lynx-block-features-pink"><img src="{{ images.-3890dcc1.url }}" loading="lazy" data-sizes="[]" alt="{{ images.-3890dcc1.alt | trim | escape }}" class="lynx-icon-features-small"></div>
                    <h6 class="lynx-heading-features-small">{{ texts.2aa81f5a }}</h6>
                    <p class="lynx-paragraph-features">{{ texts.3695d0fc }}<strong>{{ texts.-6e32d84f }}</strong>{{ texts.2e }}</p>
                  </div>
                  <div id="w-node-_85b700b7-f363-21ac-2c3e-d867e16e3281-e16e3237" class="lynx-features-bg">
                    <div class="lynx-block-features-yellow"><img src="{{ images.-3866963e.url }}" loading="lazy" data-sizes="[]" alt="{{ images.-3866963e.alt | trim | escape }}" class="lynx-icon-features-small"></div>
                    <h6 class="lynx-heading-features-small">{{ texts.2876ae31 }}</h6>
                    <p class="lynx-paragraph-features">{{ texts.-3b66fff4 }}<strong>{{ texts.7c4a2004 }}</strong>{{ texts.63f69ffa }}<strong>{{ texts.2998bf1c }}</strong>{{ texts.2e }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>